<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>This is index.js</h1>
  <h2>
    <%=from%>
  </h2>
  <ul>
    <%list.forEach(item =>{%>
      <li><span><%=item.name%></span><span style="margin-left: 20px;"><%=item.over ? '完成' : '进行中'%></span></li>
      <%})%>
  </ul>
  <p><%=html ? html : ''%></p>
</body>

</html>